@mixin relativeFlex {
  position: relative;
  display: flex;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin position($width, $top, $right, $bottom, $left) {
  width: $width;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
